<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MovieDBApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BF3C52BD2A39D5630069F09B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF3C52D32A39D5650069F09B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF3C52DD2A39D5650069F09B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
